<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>
<body>
    <!--NavBar-->
    <nav>
        <h3>Ini Top Navigation Bar</h3>
        <a href="#" ><span class="active">Home</span></a>
        <a href="../Summary/summary.html" ><span class="inactive">Laptop Asus</span></a>
        <a href="../time/time.html" ><span class="inactive">Time</span></a>
        <a href="../audio/audio.html" ><span class="inactive">Audio</span></a>
        <a href="../audio2/audio2.html" ><span class="inactive">Audio2</span></a>
        <a href="../videos/videos.html" ><span class="inactive">Videos</span></a>
    </nav>
    <!--Content-->
    <article>
        <figure>
            <img src="#" alt="ini Hero img">
            <figcaption><i>Gambar1.Ini Hero Image</i></figcaption>
        </figure>
        <h1>Ini Judul Artikel</h1>
        <h3><i>Article by Necro</i></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Enim dicta debitis sequi tempore ullam magni possimus. 
            Beatae repellendus harum distinctio nihil, accusamus odio quidem, 
            deleniti earum ea rerum dicta animi! <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Enim dicta debitis sequi tempore ullam magni possimus. 
            Beatae repellendus harum distinctio nihil, accusamus odio quidem, 
            deleniti earum ea rerum dicta animi! <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Enim dicta debitis sequi tempore ullam magni possimus. 
            Beatae repellendus harum distinctio nihil, accusamus odio quidem, 
            deleniti earum ea rerum dicta animi!
        </p>
    </article>
    <!--Footer-->
    <footer>
        <h4>Copyright &copy; 2021 by Necro</h4>
    </footer>
</body>
</html>